*{
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    position: relative;
    min-height: 60vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    width: 100%;
    background-color: #F7F7F7;
    flex-wrap: wrap;
    padding: 30px;
    margin-bottom: 40px;
}

.card{
    width: 150px;
    height: 250px;
    background-color: #fff;
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card:hover{
    transform: scale(1.03);
}

.content{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}